extends layout

block content
    form(action="/createPost" method="get")
        if (loggedInAs == "")
            button(type="submit" id="createPostID") Login to Create a Post
        else
            button(type="submit" id="createPostID") Create Post As: #{loggedInAs}

    ol(type=1)
    unless (forumInfo == undefined)
        for post in forumInfo
            form(action="/lookAtPost" method="get")
                div(class="postDiv")
                    input(type="hidden" name="title" value=post.title readonly)
                    button(type="submit") #[h2 &nbsp; #{post.title}] #[p &nbsp; #{post.content} -#[strong #{post.username}]]
                       
                        

